<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    <div id="app">
        <input type="text" v-model="msg">
        <br>
        <p>{{ msg }}</p>
        <br>
        <input type="text" v-model="msg2">
        <br>
        <p>{{ msg2 }}</p>
    </div>
<script src="../vue.js"></script>
<script type="text/javascript">
    new Vue({
        el:'#app',
        data(){
            return {
                msg:'',
                msg2:'stevenlee'
            }
        }
    })
</script>
</body>
</html>